@charset "UTF-8";
/* bovenkant */
body{
	font-family: 'Times New Roman';
	letter-spacing: -0.2px;
	line-height: 180%;
}

#header{
	margin-bottom: 1%;
}

#foto{
	float: left;
	width: 40%;
	height: 100%;
	overflow: auto;
}

.tekst{
	margin-left: 42px;
	width: 55%;
	font-size: 20pt;
	float: left;
	overflow: hidden;
	margin-top: -2%;
}

.tekst2{
	clear: both;
	font-size: 35pt;
	padding-top: 2%;
}

@font-face {
    font-family: 'fashion_revival_regularRg';
    src: url('point_fashion-webfont.woff2') format('woff2'),
         url('point_fashion-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


input[type="text"]
{
    font-family: 'fashion_revival_regularRg', Arial, sans-serif;
	font-size: 80pt;
}

.inputdiv{
	width: 100%;
	padding-top: 0.5%;
	clear: both;
	height: 50%;
}

input{
	width: 100%!important;
	}


	
