@charset "UTF-8";
/* bovenkant */
body{
	font-family: 'Times New Roman';
	letter-spacing: -0.2px;
	line-height: 180%;
}

#header{
	margin-bottom: 1%;
}

#foto{
	float: left;
	width: 40%;
	height: 100%;
	overflow: auto;
}

.tekst{
	margin-left: 42px;
	width: 55%;
	font-size: 20pt;
	float: left;
	overflow: hidden;
	margin-top: -2%;
}

.tekst2{
	float: left;
	margin-left: 42px;
	font-size: 20pt;
	padding-top: 10.5%;
}

@font-face {
    font-family: 'fashion_revival_regularRg';
    src: url('point_fashion-webfont.woff2') format('woff2'),
         url('point_fashion-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face { 
	font-family: 'Fashion-Extended'; 
	src: url('Fashion-Extended.eot') format('embedded-opentype'), 
		 url('Fashion-Extended.otf') format('opentype'), 
		 url('Fashion-Extended.woff') format('woff'), 
		 url('Fashion-Extended.ttf') format('truetype'), 
		 url('Fashion-Extended.svg') format('svg'); font-weight: normal; font-style: normal; }

input[type="text"]
{
    font-family: 'fashion_revival_regularRg', Arial, sans-serif;
	font-size: 80pt;
	border: none;
	border-color: transparent;
	outline: none;
}

input[type="text2"]
{
    font-family: 'Fashion-Extended', Arial, sans-serif;
	font-size: 80pt;
	border: none;
	border-color: transparent;
	outline: none;
}

.inputdiv{
	width: 100%;
	padding-top: 3%;
	clear: both;
	height: 50%;
}

input{
	width: 100%!important;
	}


	
