@charset "UTF-8";
/* CSS Document */

/* bovenkant*/
#header{
	margin-bottom: 1%;
}

/* deel met werken */
#wrapper{
	width: 100%;
	height: 100%;
	overflow: auto;
}

#left{
	float: left;
	width: 33.3%;
	overflow: hidden;
}

#center{
	float: left;
	width: 33.3%;
	overflow: hidden;
}

#right{
	width: 33.3%;
	float: left;
}

.img{
	width: 100%;
}

/* onderkant */
#footer{
	margin-top: 1%;
}